$ionicons-font-path: "lib/ionic/release/fonts" !default;

@import "../index.scss";
@import "lib/ionic/scss/ionic.scss";

div:before {
	content: "";
	display: inline-block;
	vertical-align: middle;
	height: 100%;
}

div {
	* {
		display: inline-block;
		vertical-align: middle;
	}
	
	.ion-record {
		color: red;
	}
}

util-audio:first-child, div {
	display: block;
	text-align: center;
	margin: .6em;
}