.ion-record, .ion-record:hover {
  color: red;
}
  
.ion-record {
  transition: all .2s ease-in-out; 
}

.ion-record:active { 
  transform: scale(2);
} 

body {
  text-align: center;
  padding: 20px;
}

body * {
  vertical-align: middle !important;
}
